extends ./layout.jade

block content
    .contact
        .row
            .col-md-5
                h3 Adres
                p ul. Leśna 22<br />62-513 Brzeźno, koło Konina
                ul
                    li telefon: 
                        a.phone= phone
                    li e-mail: 
                        a.email= email
                h3 Konto bankowe
                p
                | Bank: mBank<br />
                | IBAN: 20 1140 2004 0000 3202 7532 2086
            .col-md-7
                <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://mapy.google.pl/maps/ms?msa=0&amp;msid=211353188404189954275.0004b924733d9aecf95ad&amp;ie=UTF8&amp;t=m&amp;ll=52.186984,18.29361&amp;spn=0.126292,0.332336&amp;z=11&amp;output=embed" class="google-iframe"></iframe>
        //.row
        //    .col-md-12
        //        h3 Formularz kontaktowy
        //.row
        //    .col-md-12
        //        label Imię i naziwsko / nazwa firmy
        //        input(type="text")
        //        label Adres e-mail
        //        input(type="text")
        //        label Telefon
        //        input(type="text")
        //        label Liczba osób, termin
        //        input(type="text")
        //        select
        //        select
        //        label Treść zapytania (opcjonalnie)
        //        textarea
        //        input(type="submit" value="Wyślij")

