extends layout.jade

block content
	.rooms
		.row
			.col-md-12
				h3 Pokoje
				p Zapraszamy do skorzystania z noclegów w cichej i spokojnej miejscowości położonej w odległości 5 km od centrum Konina. Oferujemy:
				ul
					li 30 miejsc noclegowych
					li pokoje 2-, 3-, 4-osobowe
					li pokoje wyposażone w telewizor, wygodne łóżka, szafę oraz stolik
					li bezprzewodowy dostęp do Internetu
		.row
			.col-xs-6.col-md-4
				img(src="images/room1.jpg")
			.col-xs-6.col-md-4
				img(src="images/room2.jpg")
		.row
			.col-md-12
				p Do dyspozycji gości jest duża, wspólna, słoneczna kuchnio-jadalnia, zaopatrzona w:
				ul
					li kuchnię gazową, mikrofalówkę, czajnik elektryczny, toster
					li dużą lodówkę
					li stół, krzesła
					li duże blaty robocze
			.col-md-12
				h3 Ogród, otoczenie, parking
		.row
			.col-md-12
				p Do dyspozycji gości jest przestronny ogród z miejscem na grilla i ognisko.
				p Bezpłatnie udostępniamy również miejsca na ogrodzonym parkingu.
				p W odległości 50 metrów od budynku znajduje się przystanek autobusu miejskiego.
			.col-md-4.col-xs-6
				img(src="images/garden.jpg")
		.row.features
			.col-md-12
				h3 Wyposażenie kwater
			.col-md-4
				h4 Kuchnia
				ul
					li lodówka
					li czajnik
					li kuchenka elektryczna
					li sztućce
					li mikrofalówka
					li toster
			.col-md-4
				h4 Łazienka
				ul
					li WC
					li prysznic
					li umywalka
			.col-md-4
				h4 Pokoje
				ul
					li telewizor
					li pościel
					li szafka nocna
					li lampka nocna
					li szafa
					li stolik i krzesła
		.row
